body {
    background-color: rgb(209, 208, 208);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 2%;
}
p {
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
}

#nordernada {
    text-align: left;
}

#ordenada {
    text-align: left;
}
